<div class="header-component">
    <div class="logo">
        <img src="https://cdn-icons-png.flaticon.com/512/103/103946.png" alt="Brand Logo">
    </div>
    <div class="options">
        <input routerLink="/admin/pessoas" type="button" class="home-link" value="Listagem de pessoas" />
        <br>
        <h4> | </h4>
        <input routerLink="/admin/pessoas/novo" type="button" class="home-link" value="Add pessoa" />
        <br>
        <h4> | </h4>
        <input routerLink="/admin/carro" type="button" class="home-link" value="Carro" />
        <br>
        <h4> | </h4>
        <input routerLink="/admin/books" type="button" class="home-link" value="Books" />
        <br>
        <h4> | </h4>
        <input routerLink="/login" type="button" class="home-link" value="Sair" />
    </div>
  </div>
  